.hide-layout-section {
    display: none;
}

.remove-container{
    height: 0rem !important;
}

.layout-section {
    padding-top: 20.9375rem;
    
}

.graphic-designs {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.design-title {
 
    padding-bottom: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#random {
    width: 10.125rem;
    transform: translateY(10px);
}

.design-title > p {
    font-size: calc(1rem + var(--heading-300)) !important;
}

.design-item {
    width: 21.125rem;
    margin-bottom: 2rem;
    position: relative;
}

.design-item > img {
    width: 100%;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white);

    padding: 0.375rem 0rem;
    margin-bottom: 4px;
}
.details > p {
    margin-right: 0px;
    font-size: var(--body-300) !important;
    font-family: "Monument Extended" !important;
    color: var(--white);
}

/* 768 px */
@media (min-width: 48em) {
    
 

    .design-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .left {
        margin-right: 1.1875rem;
    }

    .design-title > p {
        font-size: var(--heading-200) !important;
    }
    
    #random {
        width: 16.375rem;
        transform: translateY(30px);
    }

    .left {
        margin-right: 2rem;
    }

    .design-flex > div > ul,
    .design-flex > div > ul > li {
        width: 30.414375rem !important;
    }

    .details > p {
        font-size: var(--body-200);
    }
}

/*1280px*/
@media (min-width: 80em) { 

    .graphic-designs {
        display: flex;
        justify-content: end;
        align-items: center;
    
    }

    .design-title {
        padding-bottom: 31rem;
         
    }
    .design-title > p {
        font-size: var(--display) !important;
    }

    #random {
        width: 16.48rem !important; 
        transform: translateY(30px);
    }

    .design-item:not(:last-child) {
        margin-bottom: 11.8125rem;
    }
}


/*1920px*/
@media (min-width: 120em) {
    .left {
        margin-right: 2.875rem;
    }

    .design-flex > div > ul,
    .design-flex > div > ul > li {
        width: 42rem !important;
    }
}
