/* Main Container of this section */
.about-me{

    padding-top: 5.125rem;

}

/*Profile Section under about me*/
/*Profile Section under about me*/
.profile-section{

    position: relative;
    height: 27.75rem;
    margin-bottom: 10.25rem;

}

.profile-image{

    background: url('../assets/png/mobile/profile-image.png') no-repeat;
    background-size: cover;
    width: 12.875rem;
    height: 19.5rem;
    margin-left: auto;

}

.greetings {

    position: absolute;
    bottom: 0;
    left: 0;

}

.greetings > p {

    font-size: var(--heading-300);

}

#name{

    width: 14.584375rem;
    margin-top: 1rem;

}
/*Profile Section under about me*/
/*Profile Section under about me*/


.current-status-section > p, .current-status-section >  div > p {
 
    font-family: "Nimbus";
    font-size: var(--heading-400);
    color: var(--white);
}
.current-status-section > p{
    width: 100%;

    margin: 0rem 0rem;
    text-align: right;
}

.current-status-section > p {
 
    text-align: center;
}

.current-status-section > div  > p{
    width: 100%;
    margin: 0rem 0rem;
    display: inline;    

    text-align: center !important;   
}

.specialty-section {
    padding-top: 21.125rem;
    text-align: center;
}

.specialty-section >  p {
    margin-right: 1rem !important;
}


#frontend {
    width: 13.189375rem;
}

#development {
    width: 20.165rem;
}

#graphic {
    width: 11.4975rem;
}

#design {
    width: 12.2575rem;
}


/* 768 px */
@media (min-width: 48em) {

    .about-me {
        height: 100%;
    }
    .greetings {
        transform: translateY(-50%);
    }

    .profile-section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 24rem;
    }
    
    .profile-image{
        margin: 0px;
        background: url('../assets/png/tablet-desktop1440px/profile-image.png') no-repeat;
        width: 24.9375rem;
        height: 37.625rem;
    }



   

    .current-status-section > p{
        width: 100%;
        font-size: var(--heading-300);
        margin: 0rem 0rem;
        text-align: center;
    }

    .current-status-section > div > p{
        width: 100%;
        font-size: var(--heading-300);
        margin: 0rem 0rem;
        display: inline;    

        text-align: center ;
       
        
    }

    .specialty-section {
          
        display: inline-block;
        text-align: center;
        width: 100%;
  
    }

    .specialty-section >  p {
        margin-right: 1.5625rem !important;
    }

    #frontend{
        width: 21.341875rem ;
    }

    #development{
        width: 32.629375rem;
    }

    #graphic{
        width: 18.604375rem;
    }

    #design{
        width:20.138125rem;
    }
  
}

/*1280px*/
@media (min-width: 80em) { 
    

    /*Profile Section under about me*/
    /*Profile Section under about me*/
    .greetings{
        position: static;
        transform: translateY(0px);
    }
    
    .profile-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35.75rem;
    }

    .profile-image {
        background-size: cover;
        width: 33rem;
        height: 49.75rem;
    }

    .greetings > p {
        font-size: var(--heading-200);
    }

    #name{
        width: 23.59625rem;
        margin-top: 2.875rem;
    }
    /*Profile Section under about me*/
    /*Profile Section under about me*/




    .current-status-section {

        p{
            margin-right: 0rem;
            margin-left: auto;
            width: 54.25rem;
            text-align: right;
        }

        .specialty-section {
            width: 64.3125rem;
            text-align: left;
            p {
                width: 100%;
                font-size: var(--heading-300);
            }
        }
    }
}

/*1440px*/
@media (min-width: 90em) {
    
}


/*1600px*/
@media (min-width: 100em) {
   
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-section{
        width: 90rem;
    }


    .greetings {
        left: 15rem;
    }

    .profile-image {
        background: url('../assets/png/desktop1920px/profile-image.png') no-repeat;
        width: 33rem !important;
        height: 49.75rem !important; 
    }

    .current-status-section {
       
        p {
            width: 88.125rem;
            font-size: var(--heading-200);
        }

        .specialty-section {
            width: 94.5rem;
            padding-top: 31.875rem;
          
            p {
               
                font-size: var(--heading-200);
            }
        }
    }

    #frontend{
        width:  34.52875rem ;
    }

    #development{
        width: 52.79125rem;
    }

    #graphic{
        width: 31.25rem;
    }

    #design{
        width: 32.09rem;
    }
}