
.about-me{
    padding-top: 5.125rem;
   
}

.profile-section{
    height: calc((312px + 318.38px) - 200px);
    position: relative;
    margin-bottom: 10.25rem;
}


.profile-image{
    background: url('../../assets/png/mobile/profile-image.png') no-repeat;
    background-size: cover;
    width: 12.875rem !important;
    height: 19.5rem !important;
    
    margin-left: auto;
}

.greetings{
    position: absolute;
    bottom: 0;
    left: 0;
   
}
.profile-section > .greetings > p{
    font-family: "Nimbus";
    color: var(--white);
    font-size: var(--heading-300);
}

#name{
    width: 14.6875rem;
}

.current-status-section > p, .current-status-section >  div > p {
 
    font-family: "Nimbus";
    font-size: var(--heading-400);
    color: var(--white);
}
.current-status-section > p{
    width: 100%;

    margin: 0rem 0rem;
    text-align: right;
}

.current-status-section > p {
 
    text-align: center;
}

.current-status-section > div  > p{
    width: 100%;
    margin: 0rem 0rem;
    display: inline;    

    text-align: center !important;   
}

.specialty-section {
    padding-top: 21.125rem;
    text-align: center;
}

.specialty-section >  p {
    margin-right: 1rem !important;
}



// #frontend, #development, #graphic, #design{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     margin-top: 0.625rem;
// }

#frontend {
    width: 13.189375rem;
}

#development {
    width: 20.165rem;
}

#graphic {
    width: 11.4975rem;
}

#design {
    width: 12.2575rem;
}


/* 768 px */
@media (min-width: 48em) {
    .about-me {
        height: 100%;
    }

    .greetings {
        transform: translateY(-50%);
    }
    .profile-image{
        margin: 0px;
        width: 24.9375rem !important;
        height: 37.625rem !important;
    }
    .profile-section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 24rem;
    }

    .current-status-section > p{
        width: 100%;
        font-size: var(--heading-300);
        margin: 0rem 0rem;
        text-align: center;
    }

    .current-status-section > div > p{
        width: 100%;
        font-size: var(--heading-300);
        margin: 0rem 0rem;
        display: inline;    

        text-align: center ;
       
        
    }

    .specialty-section {
          
        display: inline-block;
        text-align: center;
        width: 100%;
  
    }

    .specialty-section >  p {
        margin-right: 1.5625rem !important;
    }

    #frontend{
        width: 21.341875rem ;
    }

    #development{
        width: 32.629375rem;
    }

    #graphic{
        width: 18.604375rem;
    }

    #design{
        width:20.138125rem;
    }
  
}

/*1280px*/
@media (min-width: 80em) { 
    #name{
        width: 23.59625rem;
    }
    .greetings{
        position: static;
        transform: translateY(0px);
    }
    .greetings > p {
        font-size: var(--heading-200) !important;
    }
    .profile-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35.75rem;
    }

    .current-status-section {

        p{
            margin-right: 0rem;
            margin-left: auto;
            width: 54.25rem;
            text-align: right;
        }

        .specialty-section {
            width: 64.3125rem;
            text-align: left;
            p {
                width: 100%;
                font-size: var(--heading-300);
            }
        }
    }
}

/*1440px*/
@media (min-width: 94em) {
    .profile-section{
        padding: 0rem 15rem;
    }
}


/*1920px*/
@media (min-width: 120em) {

    .greetings {
        left: 15rem;
    }

    .profile-image {
        width: 33rem !important;
        height: 49.75rem !important; 
    }

    .current-status-section {
       
        p {
            width: 88.125rem;
            font-size: var(--heading-200);
        }

        .specialty-section {
            width: 94.5rem;
            padding-top: 31.875rem;
          
            p {
               
                font-size: var(--heading-200);
            }
        }
    }

    #frontend{
        width:  34.52875rem ;
    }

    #development{
        width: 52.79125rem;
    }

    #graphic{
        width: 31.25rem;
    }

    #design{
        width: 32.09rem;
    }
}