@forward './header';
@forward './aboutMe';


.landing-section {
    position: relative;
    width: 100%;
}

.webfolio {
    padding-top: 1rem;
}

@media (min-width: 48em) {
    .landing-section{
        height: calc(100vh - 4rem);
    }

    .webfolio {
        padding-top: 2rem;
    }
}
