@font-face {
    font-family: 'Monument Extended';
    src: url('../assets/ttf/MonumentExtended/MonumentExtended-Regular.woff') format('woff'),
         url('../assets/ttf/MonumentExtended/MonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../assets/ttf/MonumentExtended/MonumentExtended-Ultrabold.woff') format('woff'),
         url('../assets/ttf/MonumentExtended/MonumentExtended-Ultrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'coffekan';
    src: url('../assets/ttf/Coffekan/coffekan-Regular.woff') format('woff'),
         url('../assets/ttf/Coffekan/coffekan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus';
    src: url('../assets/ttf/Nimbus/NIMBUSRegular.woff') format('woff'),
        url('../assets/ttf/Nimbus/NIMBUSRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
