footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: fixed;
    bottom: 0px;
    left: 2rem;
    right: 2rem;
    z-index: 10;
       
    color: var(--white);
   
    padding-bottom: 1.5625rem;
}

footer > .social-media-links > ul > li:not(:last-child){
    margin-bottom: 1rem;
}
footer > .social-media-links > ul > li {
    color: var(--white);  
    list-style: none;
  
    
    a {
        font-size: var(--body-200);
    }
}

.hide-footer {
    display: none;
}

#logo{
    width: 3.5rem;
}


/* 768 px */
@media (min-width: 48em) {
    footer{
        padding-bottom: 2rem;
        left: 2rem;
        right: 2rem;   
    }
  
}

/* 1280 px */
@media (min-width: 80em) {
    footer{
        left: 4rem;
        right: 4rem;   
    }
  
}


