footer{
    display: none;
    padding-bottom: 2rem;
}

footer > .social-media-links > ul > li {
    color: var(--white);  
    list-style: none;
    margin-bottom: 1rem;
    
    a {
        font-size: var(--body-200);
    }
}

#logo{
    width: 3.5rem;
}

/* 768 px */
@media (min-width: 48em) {
    footer{
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: fixed;
        bottom: 0px;
        left: 2rem;
        right: 2rem;
       
        color: var(--white);
    }
    
    
}



